@import "./FullscreenModal/index.less";

@prefix: .elv;

@{prefix}-list-view {
    .list-extra {
        display: flex;

        .input-search {
            flex: 1;
        }
    }

    >.ant-layout-content>.ant-card {
        .ant-card-body {
            >.ant-table-wrapper {
                overflow-x: hidden;
            }
        }
    }

    .table-items {
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
            padding: 8px;
        }

        .operations {
            .ant-btn {
                // margin-right: 8px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    .table-wrapper {
        background-color: #fff;

        > .list-extra-wrapper {
            display: flex;
            padding: 16px;

            > .flex-1 {
                flex: 1;
            }
        }

        .ant-table {
            border-style: solid;
            border-color: #eee;
            border-width: 1px 0 0 0;
        }

        .ant-pagination.ant-table-pagination.ant-table-pagination-right {
            margin-right: 8px;

            .ant-pagination-options {
                margin-left: 8px;
            }
        }
    }
}


